text-color = #000
bg-color = #fff
salmon-color = #e5bbb1

font-stack = Tiempos Text, helvetica-neue, sans-serif
header-font-stack = Tiempos Headline, helvetica-neue, sans-serif


// Shortcut for min-width media queries.
breakpoint(w)
  @media screen and (min-width: w)
    {block}

mobile-only()
  @media screen and (max-width: 767px)
    {block}

text-h1()
  font-family header-font-stack
  font-size 36px
  font-weight bold
  line-height 36px
  text-decoration none
  +breakpoint(768px)
    font-size 64px
    line-height 64px

text-h2()
  font-family header-font-stack
  font-size 24px
  font-weight bold
  line-height 28px
  +breakpoint(768px)
    font-size 36px
    line-height 40px

text-h3()
  color salmon-color
  font-family font-stack
  font-size 16px
  font-style italic
  line-height 24px

text-body()
  font-family font-stack
  font-size 16px
  line-height 20px
  +breakpoint(768px)
    font-size 24px
    line-height 28px

text-small()
  font-family font-stack
  font-size 12px
  line-height 20px
  +breakpoint(768px)
    font-size 16px
    line-height 24px
