text-color = #222
bg-color = #fff
font-stack = helvetica-neue, sans-serif
header-font-stack = helvetica-neue, sans-serif


// Shortcut for min-width media queries.
breakpoint(w)
  @media screen and (min-width: w)
    {block}
